* {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Inter", 'Segoe UI', Tahoma, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 1rem 1.5rem;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 10;
}

.header-inner {
    max-width: 66rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-weight: 500;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10.5rem;
    font-size: 15px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
    justify-content: flex-end;
}

.logo-icon {
    height: 24px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 0.25rem;
}

.nav-menu li {
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    line-height: 22.5px;
}

.nav-menu li a {
    color: #fff;
}

.btn-primary {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    padding: 4.5px 12px;
    border-radius: 200px;
}

.btn-contact {
    background-color: #ffffff0d;
    color: #fff;
    line-height: 20px;
    padding: 4.5px 12px;
    border-radius: 200px;
    /* line-height: 22.5px; */
}


.hero-section {
    position: relative;
    height: 1145px;
}

.backdrop-blur {
    backdrop-filter: blur(16px);
}


.bg-image-hero {
    background-image: url(./assets/images/hero/bg-light.svg);

    z-index: -10;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -94px;
    mask-image: linear-gradient(#000 0%, rgba(0, 0, 0, .99) 18.5%, rgba(0, 0, 0, .953) 34.3%, rgba(0, 0, 0, .894) 47.6%, rgba(0, 0, 0, .824) 58.5%, rgba(0, 0, 0, .74) 67.5%, rgba(0, 0, 0, .647) 74.7%, rgba(0, 0, 0, .55) 80.3%, rgba(0, 0, 0, .45) 84.7%, rgba(0, 0, 0, .353) 88%, rgba(0, 0, 0, .26) 90.5%, rgba(0, 0, 0, .176) 92.5%, rgba(0, 0, 0, .106) 94.2%, rgba(0, 0, 0, .047) 95.9%, rgba(0, 0, 0, .01) 97.7%, transparent 100%);
}

.hero-content {
    height: 100px;
    text-align: center;
    padding: 95px;
}

.hero-pill {
    color: #fff;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #00000026;
    padding: 4px 8px 4px 4px;
    border-radius: 100px;
}

.pill-badge {
    font-size: 12px;
    line-height: 18px;
    background-color: #0c8c5e;
    padding: 2px 8px;
    border-radius: 50px;
}

.pill-text {
    font-size: 14px;
    line-height: 21px;
}

.hero-title {
    color: #fff;
    font-size: 58.8px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 67.62px;
    text-wrap-mode: wrap;
    max-width: 43rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;
}

.hero-subtitle {
    color: #fff;
    margin-top: 24px;
    font-size: 18px;
    line-height: 27px;
    max-width: 29.5rem;
    margin-left: auto;
    margin-right: auto;
}

.hero-form {
    margin-top: 32px;
    padding: 4px;
    background-color: #ffffff23;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 200px;
    display: flex;
    border: solid 1px #ffffff26;
}

input:focus {
    outline: none;
    box-shadow: none;
}

input::placeholder {
    color: #ffffff80;
    font-weight: 500;
}


.hero-form input {
    flex: 1;
    padding: 0.25rem;
    font-size: 15px;
    border-radius: 200px;
    background-color: #ffffff00;
    color: #fff;
    padding-left: 12px;
}

.hero-form button {
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.4px;
    border-radius: 999px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.hero-image {
    max-width: 1080px;
    overflow: hidden;
    border-top-left-radius: 24px;
    border-top-right-radius:24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 104px;
    object-fit: contain;
}

.hero-image img {
    width: 100%;
    height: 100%;
}